body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    color: black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A0D3F8;
}
.signout {
    float: right;
}

.dashboard{
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #C6E5FB;
}
.welcome{
    font-size: 20px;
    margin-bottom: 50px;
    padding: 14px 16px;
    float: right;
}  

             
.dropdown-content {
    list-style-type: none;
    margin: 0;
    padding: 400px 16px;
    overflow: hidden;
    background-color: A0D3F8;
    float: left;
 }
    
 .dropdown-content a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
 }
 
  
.dropdown-content a:hover {background-color: #C6E5FB}


 